<footer>
    <div class="f-info">
<<<<<<< HEAD
        <div class="f-info-socials">
            <!-- <i class="fa-solid fa-indian-rupee-sign"></i> -->
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>

        <div class="f-info-brand">&copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
=======
        <div class="f-info-social">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    
    
    <div class="f-info-brand">&copy; Wanderlust Privated Limited</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>
</footer>
>>>>>>> afd7339026c5a092661afefbd9274a1c52e253bf
