<<<<<<< HEAD
<% layout("/layouts/boilerplate")%>
<div class="row">
  <div class="alert alert-danger col-6 offset-3" role="alert">
    <h4 class="alert-heading"><%= message %></h4>
  </div>
</div>
=======
<% layout("/layouts/boilerplate") %>

<div class="alert alert-danger col-6 offset-3" role="alert">
    A simple danger alert—check it out!
  </div>
>>>>>>> afd7339026c5a092661afefbd9274a1c52e253bf
