body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
<<<<<<< HEAD
=======

.container{
    flex: 1;
}

>>>>>>> afd7339026c5a092661afefbd9274a1c52e253bf
.navbar{
    height: 5rem;
    background-color: white;
}
<<<<<<< HEAD
.fa-regular{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links,.f-info-socials{
    width: 100%;
}
.f-info{
    display: flex;
    height:8rem;
    flex-wrap: wrap;
=======

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-social, .f-info-links{
    width: 100%;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-social i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info-brand, .f-info-social{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.f-info{
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
>>>>>>> afd7339026c5a092661afefbd9274a1c52e253bf
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ebebeb;
<<<<<<< HEAD
    
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-socials,.f-info-brand{
    display: flex;
    justify-content: center;

}
/*cards*/
.card{
    border: none !important;
    margin-bottom: 2rem;
}
=======
    color: #222222;
}

.card {
    border: none !important;
    margin-bottom: 2rem;
}

>>>>>>> afd7339026c5a092661afefbd9274a1c52e253bf
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
<<<<<<< HEAD

}
.card-body{
    padding: 0 !important;
   
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0 !important;
}
.card-img-overlay:hover{
    opacity: 0.2 !important;
    background-color: white !important;
}
/* new listing page*/
=======
}

.card-body{
    padding: 0 !important;

}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0 !important;
}

.card-img-overlay:hover{
    opacity: 0.2 !important;
    background-color: white !important;

}

>>>>>>> afd7339026c5a092661afefbd9274a1c52e253bf
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
<<<<<<< HEAD
.container{
    flex: 1;
}
/* edit listing page*/
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;

}
.show-img{
    height: 30vh;
} 
=======

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
}
>>>>>>> afd7339026c5a092661afefbd9274a1c52e253bf
